includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    paths:
        - includes/
        - admin/
        - website-llms-txt.php
    
    # WordPress specific
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    
    # Ignore WordPress globals
    dynamicConstantNames:
        - ABSPATH
        - WP_DEBUG
        - WP_CLI
        - DOING_AUTOSAVE
        - LLMS_VERSION
        - LLMS_PLUGIN_DIR
        - WPSEO_VERSION
    
    ignoreErrors:
        # Ignore WordPress hook system
        - '#^Call to an undefined method.*add_action\(\)#'
        - '#^Call to an undefined method.*add_filter\(\)#'
        # Ignore common WP functions
        - '#Function (get_option|update_option|get_transient|set_transient|delete_transient) not found#'
        
    treatPhpDocTypesAsCertain: false